---
apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
spec:
  distribution:
    version: 2.x
    registry: ghcr.io/fluxcd
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    kind: OCIRepository
    url: oci://ghcr.io/tressims/k8s-infra
    ref: latest
    path: .
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 1m
  sourceRef:
    kind: OciRepository
    name: podinfo
  path: "."
  prune: true
  timeout: 1m
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: []
