---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: 
  - release.yaml

configMapGenerator:
  - name: alloy-config
    namespace: o11y
    files:
      - config.alloy
    options:
      disableNameSuffixHash: true
