---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: '39.0.0'
      sourceRef:
        kind: HelmRepository
        name: traefik-helm
        namespace: traefik
      interval: 10m
  values:
    providers:
      kubernetesIngress:
        enabled: true
