---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: o11y
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      version: '10.5.15'
      sourceRef:
        kind: HelmRepository
        name: grafana-helm
        namespace: o11y
      interval: 10m
  values:
    sidecar:
      dashboards:
        enabled: true
        defaultFolderName: "General"
        label: grafana_dashboard
        labelValue: "1"
        folderAnnotation: grafana_folder
        searchNamespace: ALL
        provider:
          foldersFromFilesStructure: true
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      hosts:
        - grafana.k8s.deep-thonk.com
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.k8s.deep-thonk.com
    persistence:
      type: pvc
      enabled: true
    securityContext:
      runAsUser: 65534
      runAsGroup: 65534
