---
name: Flux Build and push
on: 
  push:
    branches:
      - main

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main
      - name: Change case for image
        id: case
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{github.repository_owner}}/${{github.event.repository.name}}
      - name: Build artifact
        run: |
          flux push artifact \
            oci://ghcr.io/${{steps.case.outputs.lowercase}}:$(git rev-parse --short HEAD) \
            --source="$(git config --get remote.origin.url)" \
            --revision="$(git branch --show-current)@sha1:$(git rev-parse HEAD)" \
            --creds flux:${{ secrets.GITHUB_TOKEN }} \
            --path="./"
      - name: Tag Latest
        run: |
          flux tag artifact \
          oci://ghcr.io/${{steps.case.outputs.lowercase}}:$(git rev-parse --short HEAD) \
          --creds flux:${{ secrets.GITHUB_TOKEN }} \
          --tag latest
